{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info page</title>
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-div1">
                <img src="" alt="" class="nav-img">
                <h1 class="nav-title1">Synapsecode</h1>
            </div>
        </nav>

        <script src="{% static 'js/dashboard.js' %}"></script>
    </body>
</html>