{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info page</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img src="{% static 'pics/Logo.jpg' %}" class="logo" alt="Logo">
            <h1 class="title">Synapsecode</h1>

            <div class="nav-links" id="navbar">
                <img src="{% static 'pics/Logo.jpg' %}" class="logo2" alt="Logo">
                <div class="navbar2">
                    <button class="nav-button nav1" id="nav1">About Us</button>
                    <button class="nav-button nav2" id="nav2">Projects</button>
                    <button class="nav-button nav3" id="nav3">Team</button>
                    <button class="nav-button nav4" id="nav4">Contact Us</button>
                </div>
            </div>

            <div class="burger-menu" id="burger-menu">
                <span class="span" id="span1"></span>
                <span class="span" id="span2"></span>
                <span class="span" id="span3"></span>
            </div>
        </nav>

        <section class="login-section">
            <form action="" class="login-form">
                <input type="email" name="email" id="email" placeholder="Enter email here" required>
                <input type="text" name="name" id="name" placeholder="Full name here" required>
                <select name="country" id="country">
                    <option value="" disabled selected>Select your role</option>
                    <option value="93">+93 Afghanistan</option>
                    <option value="355">+355 Albania</option>
                    <option value="213">+213 Algeria</option>
                    <option value="1">+1 American Samoa</option>
                    <option value="376">+376 Andorra</option>
                    <option value="244">+244 Angola</option>
                    <option value="1">+1 Anguilla</option>
                    <option value="672">+672 Antarctica</option>
                    <option value="1">+1 Antigua and Barbuda</option>
                    <option value="54">+54 Argentina</option>
                    <option value="374">+374 Armenia</option>
                    <option value="297">+297 Aruba</option>
                    <option value="61">+61 Australia</option>
                    <option value="43">+43 Austria</option>
                    <option value="994">+994 Azerbaijan</option>
                    <option value="1">+1 Bahamas</option>
                    <option value="973">+973 Bahrain</option>
                    <option value="880">+880 Bangladesh</option>
                    <option value="1">+1 Barbados</option>
                    <option value="375">+375 Belarus</option>
                    <option value="32">+32 Belgium</option>
                    <option value="501">+501 Belize</option>
                    <option value="229">+229 Benin</option>
                    <option value="1">+1 Bermuda</option>
                    <option value="975">+975 Bhutan</option>
                    <option value="591">+591 Bolivia</option>
                    <option value="599">+599 Bonaire, Sint Eustatius and Saba</option>
                    <option value="387">+387 Bosnia and Herzegovina</option>
                    <option value="267">+267 Botswana</option>
                    <option value="55">+55 Brazil</option>
                    <option value="1">+1 British Virgin Islands</option>
                    <option value="673">+673 Brunei Darussalam</option>
                    <option value="359">+359 Bulgaria</option>
                    <option value="226">+226 Burkina Faso</option>
                    <option value="257">+257 Burundi</option>
                    <option value="855">+855 Cambodia</option>
                    <option value="237">+237 Cameroon</option>
                    <option value="1">+1 Canada</option>
                    <option value="238">+238 Cape Verde</option>
                    <option value="345">+345 Cayman Islands</option>
                    <option value="236">+236 Central African Republic</option>
                    <option value="235">+235 Chad</option>
                    <option value="56">+56 Chile</option>
                    <option value="86">+86 China</option>
                    <option value="57">+57 Colombia</option>
                    <option value="269">+269 Comoros</option>
                    <option value="243">+243 Democratic Republic of the Congo</option>
                    <option value="242">+242 Republic of the Congo</option>
                    <option value="682">+682 Cook Islands</option>
                    <option value="506">+506 Costa Rica</option>
                    <option value="225">+225 Côte d'Ivoire</option>
                    <option value="385">+385 Croatia</option>
                    <option value="53">+53 Cuba</option>
                    <option value="599">+599 Curaçao</option>
                    <option value="357">+357 Cyprus</option>
                    <option value="420">+420 Czech Republic</option>
                    <option value="45">+45 Denmark</option>
                    <option value="253">+253 Djibouti</option>
                    <option value="1">+1 Dominica</option>
                    <option value="1">+1 Dominican Republic</option>
                    <option value="593">+593 Ecuador</option>
                    <option value="20">+20 Egypt</option>
                    <option value="503">+503 El Salvador</option>
                    <option value="240">+240 Equatorial Guinea</option>
                    <option value="291">+291 Eritrea</option>
                    <option value="372">+372 Estonia</option>
                    <option value="268">+268 Eswatini</option>
                    <option value="251">+251 Ethiopia</option>
                    <option value="500">+500 Falkland Islands</option>
                    <option value="298">+298 Faroe Islands</option>
                    <option value="679">+679 Fiji</option>
                    <option value="358">+358 Finland</option>
                    <option value="33">+33 France</option>
                    <option value="594">+594 French Guiana</option>
                    <option value="689">+689 French Polynesia</option>
                    <option value="241">+241 Gabon</option>
                    <option value="220">+220 Gambia</option>
                    <option value="995">+995 Georgia</option>
                    <option value="49">+49 Germany</option>
                    <option value="233">+233 Ghana</option>
                    <option value="350">+350 Gibraltar</option>
                    <option value="30">+30 Greece</option>
                    <option value="299">+299 Greenland</option>
                    <option value="1">+1 Grenada</option>
                    <option value="590">+590 Guadeloupe</option>
                    <option value="1">+1 Guam</option>
                    <option value="502">+502 Guatemala</option>
                    <option value="44">+44 United Kingdom</option>
                    <option value="995">+995 Georgia</option>
                    <option value="380">+380 Ukraine</option>
                    <option value="261">+261 Madagascar</option>
                    <option value="267">+267 Botswana</option>
                    <option value="254">+254 Kenya</option>
                    <option value="41">+41 Switzerland</option>
                    <option value="993">+993 Turkmenistan</option>
                </select>
                <input type="number" name="phone" id="phone" placeholder="Enter phone number here" required>
                <input type="password" name="password" id="password" placeholder="Enter password here" required>
                <input type="submit" class="submit" name="" id="">
            </form>

            <img src="" class="login-img" alt="">
        </section>

        <footer>
            <h1>made by <a href="https://github.com/sabuka-dumbo">Saba Dumbadze</a></h1>
            <h1>Synapsecode 2025</h1>
        </footer>

        <script src="{% static 'js/login.js' %}"></script>
    </body>
</html>