body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height:calc(100vh - 40px);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-img {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    display: inline-block;
}

.nav-title {
    position: relative;
    top: -40px;
    left: 5px;
    width: max-content;
    display: inline-block;
    height: max-content;
    font-size: 25px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.nav-link1 {
    position: relative;
    top: 0px;
    left: -20px;
    width: 100%;
    display: inline-block;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    background-color: gainsboro;
    margin-bottom: 10px;
}

.nav-link2 {
    position: relative;
    top: 0px;
    left: -20px;
    width: 100%;
    display: inline-block;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-link3 {
    position: relative;
    top: 0px;
    left: -20px;
    width: 100%;
    display: inline-block;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    margin-bottom: 10px;
}

.icons {
    position: relative;
    top: 5px;
    left: -5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

.burgermenu {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 60px;
    height: max-content;
    display: none;
}

.span {
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
    height: 10px;
    background-color: black;
    display: block;
    margin-bottom: 10px;
}

.section1 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 400px);
    margin-left: 400px;
    height: calc(100vh - 40px);
    margin-top: 40px;
}

.course {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.course-title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}

.course-description {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 18px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.course h3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 12px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 900px) {
    nav {
        width: 200px;
    }

    .section1 {
        width: calc(100% - 300px);
        margin-left: 200px;
    }
}

@media screen and (max-width: 560px) {
    nav {
        background: none;
        box-shadow: none;
        width: 70%;
    }

    .nav-div1 {
        position: relative;
        width: 100vw;
        top: -20px;
        left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-navs {
        position: relative;
        left: 0%;
        width: 100%;
    }

    .nav-link1, .nav-link2, .nav-link3 {
        font-size: 25px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .burgermenu {
        display: block;
    }

    .nav-navs {
        display: none;
    }
}

@keyframes span1-open {
    0% {}

    100% {
        top: 20px;
        rotate: 45deg;
    }
}

@keyframes span2-open {
    0% {}

    100% {
        opacity: 0;
    }
}

@keyframes span3-open {
    0% {}

    100% {
        top: -20px;
        rotate: -45deg;
    }
}

@keyframes span1-close {
    0% {}

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes span2-close {
    0% {}

    100% {
        opacity: 1;
    }
}

@keyframes span3-close {
    0% {}

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes navbar-open {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes navbar-close {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}