{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info page</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img src="{% static 'logo.png' %}" class="logo" alt="Logo">
            <h1 class="title">Synapsecode</h1>

            <div class="nav-links" id="navbar">
                <img src="{% static 'logo.png' %}" class="logo2" alt="Logo">
                <div class="navbar2">
                    <button class="nav-button nav1" id="nav1">About Us</button>
                    <button class="nav-button nav2" id="nav2">Projects</button>
                    <button class="nav-button nav3" id="nav3">Team</button>
                    <button class="nav-button nav4" id="nav4">Contact Us</button>
                </div>
            </div>

            <div class="burger-menu" id="burger-menu">
                <span class="span" id="span1"></span>
                <span class="span" id="span2"></span>
                <span class="span" id="span3"></span>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <h1 class="header-title">Start learning now and join the global community where neuroscience meets programming.</h1>
                <h2 class="header-description">Synapse Code is Georgia’s first non-profit combining neuroscience and programming, connecting young innovators worldwide through mentorship, collaboration, and critical thinking.</h2>
                <button class="header-button">Apply Now</button>
            </div>

            <img src="{% static 'pics/Image1.svg' %}" alt="" class="header-img">
        </header>

        <div class="aboutus">
            <div class="aboutus-container">
                <div class="aboutus-info">
                    <h1>Who we are</h1>
                    <h2>Synapse Code is Georgia’s first non-profit at the intersection of neuroscience and programming, empowering young innovators worldwide through mentorship, collaboration, and critical thinking. Our global team of mentors from Canada, Georgia, Nepal, and beyond works to inspire curiosity and prepare the next generation to connect human and technological minds.</h2>
                </div>

                <img src="" class="aboutus-img" alt="">
            </div>

            <div class="aboutus-container2">
                <img src="" class="aboutus-img2" alt="">

                <div class="aboutus-info2">
                    <h1>Who we are</h1>
                    <h2>Synapse Code is Georgia’s first non-profit at the intersection of neuroscience and programming, empowering young innovators worldwide through mentorship, collaboration, and critical thinking. Our global team of mentors from Canada, Georgia, Nepal, and beyond works to inspire curiosity and prepare the next generation to connect human and technological minds.</h2>
                </div>
            </div>
        </div>

        <div class="projects">
            <div class="project-div">
                <div class="project"></div>
            </div>
        </div>

        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>