{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info page</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <img src="{% static 'logo.png' %}" class="logo" alt="Logo">
            <h1 class="title">Synapsecode</h1>
        </nav>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>